@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --input-height: 25px;
    --button-height: 30px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
}

/* Sidebar */
[aria-controls="menu-list"] {
    display: none;
    height: var(--button-height);
    border: none;
    border-radius: calc(var(--button-height)/2);
    padding: 0px 15px;
  }



.side-bar {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 10px;
    background-color: #0ea5e9;
    color: white;
}

#menu-list div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#dash {
    height: 30px;
}

img {
    height: 20px;
}

#menu-list > div:first-child {
    margin-bottom: 40px;
}

#menu-list > div {
    margin-bottom: 20px;
}

#menu-list > div:nth-child(7) {
    margin-bottom: 60px;
}



/* main */
.main {
    grid-column: 2 / span 1;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}

/* header */
.header-top, .header-bottom {
    display: flex; 
    align-items: center;
    
    gap: 15px;
}

.header-top {
    margin: 10px 30px;
}

.header-top div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top div:first-child {
    flex: 1;
}

.header-top div:last-child {
    flex: 1;
    justify-content: flex-end;
}

.logo-small img {
    height: 40px;
}

.logo-big img {
    height: 80px;
}

.header-bottom {
    margin-inline: 30px;
}



.header-top input {
    height: var(--input-height);
    flex: 1;
    border-radius: calc(var(--input-height)/2);
    border: none;
    background-color: rgba(211, 211, 211, 0.628);
}


.handle {
    flex: 1;
}



.header-bottom button {
    height: var(--button-height);
    padding: 5px 20px;
    border: none;
    border-radius: calc(var(--button-height)/2);
    background-color: #0ea5e9;
}

.buttons {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.buttons button {
    color: white;
}

/* content */

.content {
   display: grid;
   grid-template-columns: 5fr 2fr; 
   gap: 20px;
   padding: 15px;
   background-color: rgba(211, 211, 211, 0.628);
   height: 100%;
}

.projects > h4 {
    margin-bottom: 15px;
}

/* cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
}

.card {
    border: 1px solid black;
    padding: 20px 15px;
    background-color: white;
    border: none;
    border-left: 10px solid rgb(245, 203, 87);
    border-radius: 8px;
}

.card p {
    font-size: 0.7rem;
    margin-bottom: 30px;
}

.card div {
    display: flex;
    justify-content: flex-end;
    gap: 20px
}

/* side-info */

.side-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Announcements */

.announcements > div {
    border: 1px solid black;
    padding-inline: 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.announcements > div > div {
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

.announcements > div > div:last-child {
    border: none;
}


.announcements p {
    font-size: 0.6rem;
}

.announcements h4 {
    margin-bottom: 15px;
}


/* trending */

.trending > div {
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
}

.trending > h4 {
    margin-bottom: 15px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user p {
    font-size: 0.7rem;
}
.user p:first-child {
    font-weight: 700;
}

/* media queries */

@media (min-width: 1200px) {
    .content {
        grid-template-columns: 2fr 350px;
    }
}

@media (max-width: 900px) {
    .content {
        grid-template-columns: 1fr;
    }
    .side-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
      }
}

@media (max-width: 530px){
    .wrapper {
        display: block;
    }
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 10px;
      }
    .side-bar > div {
        max-height: 0;
        overflow: hidden;
        transform: rotateY(90deg);
        transition: all 0.5s;
      }
    .header-top h3 {
        font-size: 0.8rem;
    }
      [aria-expanded="true"] ~ div {
        display: grid;
        max-height: 500px;
        transform: rotateY(0);
      }
    
      [aria-expanded="false"] .close {
        display: none;
      }
    
      [aria-expanded="true"] .close {
        display: inline-block;
      }
    
      [aria-expanded="true"] .open {
        display: none;
      }
 
}